[run]
branch = True
source = thermostate

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    setup.py
    src/thermostate/_version.py
    .eggs/*

[paths]
source =
   src/thermostate
   .tox/*/lib/python*/site-packages/thermostate
