[run]
branch = True
# List of packages to include, not necessarily directories
source = thermostate

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    setup.py
    src/thermostate/_version.py
    .eggs/*

[paths]
# List of paths that are equivalent and should be combined
source =
   src/thermostate
   **/site-packages/thermostate
