[run]
branch = True
source = thermostate

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    thermostate/tests/*
    setup.py
    thermostate/_version.py
    .eggs/*
