name: Python package

on:
  push:
    # Build on tags that look like releases
    tags:
      - v*
    # Build when main is pushed to
    branches:
      - main
  pull_request:
    # Build when a pull request targets main
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test on ${{ matrix.os }} with Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Python 3.9 and 3.10 builds require CoolProp from their master branch
        # so we can use the coolprop-master builds below as the test
        # for Python 3.9 and 3.10
        python-version: ["3.7", "3.8"]
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install tox tox-gh-actions tox-venv
    - name: Test with tox
      run: tox -v
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml

  tox-with-conda-for-39-310:
    name: Use Conda for Python 3.9 and 3.10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.9", "3.10"]
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out this repository
      uses: actions/checkout@v2
    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python }}
        miniforge-version: Mambaforge
    - name: Install Conda dependencies
      run: mamba install coolprop pint numpy matplotlib pytest pytest-cov pip tox
    - name: Install pip dependencies
      run: python -m pip install tox-current-env
    - name: Install this package
      run: python -m pip install . --no-deps -vv
    - name: Test with tox
      run: |
        PY_VER=${{ matrix.python }}
        TEST_VER=${PY_VER:0:1}${PY_VER:2:3}
        tox -e $TEST_VER --current-env

  notebooks:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repository
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install test dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install tox tox-venv
    - name: Run notebooks test
      run: tox -e notebooks

  flake8:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repository
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install tox and dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox tox-venv
    - name: Run tox for flake8 environment
      run: tox -e flake8

  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repository
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install pandoc from Apt
      run: sudo apt-get install pandoc
    - name: Install docs dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[docs]
    - name: Build docs with sphinx
      run: |
        make html SPHINXOPTS="-W"
      working-directory: docs

  pypi-build-and-upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install build dependencies
      run: python -m pip install --upgrade pip setuptools wheel build
    - name: Build the source and binary distributions
      run: python -m build --outdir dist/ .
    - name: Publish a Python distribution to PyPI
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@v1.3.1
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
